In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import ast

In [2]:
#import the data (in our case just sham data so we can use the same code for matlab)
df = pd.read_excel(r'C:\Users\Rishi\OneDrive\Desktop\Thesis stuff copy\example_fake_data.xlsx')

new_columns = ['pp-ID','Group','Game ID', 'Trial Number', 'Context', 'Horizon', 'Information Condition', 'Reward Means',
               'Real Mean difference - Bandits', 'Higher Mean Bandit', 'Chosen Bandit per Trial', 'Rewards',  'More Info Bandit',
               'Chosen Bandit FFT'
]



dataframe = pd.DataFrame(columns = new_columns)
df

,Unnamed: 0,gamelength,nforced,forced,nfree,mean,rewards,giD,a,r
0,NaN,10,"[2,2,2,1]","[2,2,2,1,0,0,0,0,0,0]",6,[-60:-48],2x10 Double,1,"[2,2,2,1,1,2,2,2,2,2]","[-49,-52,-59,-56,-62,-41,-47,-44,-43,-52]"
1,NaN,5,"[1,1,1,2]","[1,1,1,2,0]",1,[-60:-30],"[-66,-71,-66,-64,-55; -67, -66,-61,-74,-66]",2,"[1,1,1,2,2]","[-69,-48,-75,-30,-35]"
2,NaN,10,"[2,2,2,1]","[2,2,2,1,0,0,0,0,0,0]",6,[-60:-48],2x10 Double,3,"[2,2,2,1,1,2,2,2,2,2]","[-49,-52,-59,-56,-62,-41,-47,-44,-43,-52]"
3,NaN,10,"[2,2,2,1]","[2,2,2,1,0,0,0,0,0,0]",6,[-60:-48],2x10 Double,4,"[2,2,2,1,1,2,2,2,2,2]","[-49,-52,-59,-56,-62,-41,-47,-44,-43,-52]"
4,NaN,10,"[2,2,2,1]","[2,2,2,1,0,0,0,0,0,0]",6,[-60:-48],2x10 Double,5,"[2,2,2,1,1,2,2,2,2,2]","[-49,-52,-59,-56,-62,-41,-47,-44,-43,-52]"
5,NaN,5,"[1,1,1,2]","[1,1,1,2,0]",1,[-60:-30],"[-66,-71,-66,-64,-55; -67, -66,-61,-74,-66]",6,"[1,1,1,2,2]","[-69,-48,-75,-30,-35]"
6,NaN,5,"[1,1,1,2]","[1,1,1,2,0]",1,[-60:-30],"[-66,-71,-66,-64,-55; -67, -66,-61,-74,-66]",7,"[1,1,1,2,2]","[-69,-48,-75,-30,-35]"
7,NaN,5,"[1,1,1,2]","[1,1,1,2,0]",1,[-60:-30],"[-66,-71,-66,-64,-55; -67, -66,-61,-74,-66]",8,"[1,1,1,2,2]","[-69,-48,-75,-30,-35]"
8,NaN,5,"[1,1,1,2]","[1,1,1,2,0]",1,[-60:-30],"[-66,-71,-66,-64,-55; -67, -66,-61,-74,-66]",9,"[1,1,1,2,2]","[-69,-48,-75,-30,-35]"
9,NaN,10,"[2,2,2,1]","[2,2,2,1,0,0,0,0,0,0]",6,[-60:-48],2x10 Double,10,"[2,2,2,1,1,2,2,2,2,2]","[-49,-52,-59,-56,-62,-41,-47,-44,-43,-52]"
10,NaN,10,"[2,2,2,1]","[2,2,2,1,0,0,0,0,0,0]",6,[-60:-48],2x10 Double,11,"[2,2,2,1,1,2,2,2,2,2]","[-49,-52,-59,-56,-62,-41,-47,-44,-43,-52]"
11,NaN,10,"[2,2,2,1]","[2,2,2,1,0,0,0,0,0,0]",6,[-60:-48],2x10 Double,12,"[2,2,2,1,1,2,2,2,2,2]","[-49,-52,-59,-56,-62,-41,-47,-44,-43,-52]"
12,NaN,10,"[2,2,2,1]","[2,2,2,1,0,0,0,0,0,0]",6,[-60:-48],2x10 Double,13,"[2,2,2,1,1,2,2,2,2,2]","[-49,-52,-59,-56,-62,-41,-47,-44,-43,-52]"
13,NaN,5,"[1,1,1,2]","[1,1,1,2,0]",1,[-60:-30],"[-66,-71,-66,-64,-55; -67, -66,-61,-74,-66]",14,"[1,1,1,2,2]","[-69,-48,-75,-30,-35]"
14,NaN,5,"[1,1,1,2]","[1,1,1,2,0]",1,[-60:-30],"[-66,-71,-66,-64,-55; -67, -66,-61,-74,-66]",15,"[1,1,1,2,2]","[-69,-48,-75,-30,-35]"
15,NaN,5,"[1,1,1,2]","[1,1,1,2,0]",1,[60:30],"[-66,-71,-66,-64,-55; -67, -66,-61,-74,-66]",16,"[1,1,1,2,2]","[-69,-48,-75,-30,-35]"
16,NaN,5,"[1,1,1,2]","[1,1,1,2,0]",1,[60:30],"[-66,-71,-66,-64,-55; -67, -66,-61,-74,-66]",17,"[1,1,1,2,2]","[-69,-48,-75,-30,-35]"
17,NaN,5,"[1,1,1,2]","[1,1,1,2,0]",1,[60:30],"[-66,-71,-66,-64,-55; -67, -66,-61,-74,-66]",18,"[1,1,1,2,2]","[-69,-48,-75,-30,-35]"
18,NaN,5,"[1,1,1,2]","[1,1,1,2,0]",1,[60:30],"[-66,-71,-66,-64,-55; -67, -66,-61,-74,-66]",19,"[1,1,1,2,2]","[-69,-48,-75,-30,-35]"
19,NaN,5,"[1,1,1,2]","[1,1,1,2,0]",1,[60:30],"[-66,-71,-66,-64,-55; -67, -66,-61,-74,-66]",20,"[1,1,1,2,1]","[-69,-48,-75,-30,-35]"
20,NaN,5,"[1,1,1,2]","[1,1,1,2,0]",1,[60:30],"[-66,-71,-66,-64,-55; -67, -66,-61,-74,-66]",21,"[1,1,1,2,1]","[-69,-48,-75,-30,-35]"
21,NaN,5,"[1,1,1,2]","[1,1,1,2,0]",1,[-60:-30],"[-66,-71,-66,-64,-55; -67, -66,-61,-74,-66]",22,"[1,1,1,2,1]","[-69,-48,-75,-30,-35]"
22,NaN,5,"[1,1,1,2]","[1,1,1,2,0]",1,[-60:-30],"[-66,-71,-66,-64,-55; -67, -66,-61,-74,-66]",23,"[1,1,1,2,1]","[-69,-48,-75,-30,-35]"
23,NaN,5,"[1,1,1,2]","[1,1,1,2,0]",1,[60:30],"[-66,-71,-66,-64,-55; -67, -66,-61,-74,-66]",24,"[1,1,1,2,1]","[-69,-48,-75,-30,-35]"
24,NaN,5,"[1,1,1,2]","[1,1,1,2,0]",1,[-60:-30],"[-66,-71,-66,-64,-55; -67, -66,-61,-74,-66]",25,"[1,1,1,2,1]","[-69,-48,-75,-30,-35]"
25,NaN,5,"[1,1,1,2]","[1,1,1,2,0]",1,[-60:-30],"[-66,-71,-66,-64,-55; -67, -66,-61,-74,-66]",26,"[1,1,1,2,1]","[-69,-48,-75,-30,-35]"
26,NaN,5,"[1,1,1,2]","[1,1,1,2,0]",1,[-60:-30],"[-66,-71,-66,-64,-55; -67, -66,-61,-74,-66]",27,"[1,1,1,2,1]","[-69,-48,-75,-30,-35]"
27,NaN,5,"[1,1,1,2]","[1,1,1,2,0]",1,[-60:-45],"[-66,-71,-66,-64,-55; -67, -66,-61,-74,-66]",28,"[1,1,1,2,1]","[-69,-48,-75,-30,-35]"
28,NaN,5,"[1,1,1,2]","[1,1,1,2,0]",1,[-24:-30],"[-66,-71,-66,-64,-55; -67, -66,-61,-74,-66]",29,"[1,1,1,2,1]","[-69,-48,-75,-30,-35]"
29,NaN,5,"[1,1,1,2]","[1,1,1,2,0]",1,[-70:-30],"[-66,-71,-66,-64,-55; -67, -66,-61,-74,-66]",30,"[1,1,1,2,1]","[-69,-48,-75,-30,-35]"
30,NaN,5,"[1,1,1,2]","[1,1,1,2,0]",1,[80:40],"[-66,-71,-66,-64,-55; -67, -66,-61,-74,-66]",31,"[1,1,1,2,1]","[-69,-48,-75,-30,-35]"
31,NaN,5,"[1,2,1,2]","[1,1,1,2,0]",1,[-70:-30],"[-66,-71,-66,-64,-55; -67, -66,-61,-74,-66]",32,"[1,1,1,2,1]","[-69,-48,-75,-30,-35]"
32,NaN,5,"[1,2,1,2]","[1,1,1,2,0]",1,[80:40],"[-66,-71,-66,-64,-55; -67, -66,-61,-74,-66]",33,"[1,1,1,2,1]","[-69,-48,-75,-30,-35]"

In [64]:
df2 = pd.concat( [df['a'], df['r'], df['giD']], axis = 1 ) 

def arrayconvstr(strarray):
        return eval(strarray)
df2['a'] = df2['a'].apply(arrayconvstr)
df2 ['r'] = df2['r'].apply(arrayconvstr)

df2 = df2.explode(['a','r'])
df2['Obs mean'] = df2['r']

def obsmean(group):
    group['Obs mean'] = group.groupby( (group['a'] != group['a'].shift()).cumsum(), group_keys=True )['r'].expanding().mean().reset_index(level=0 , drop = True)
    return group

df2 = df2.groupby('giD').apply(obsmean).reset_index(drop = True)
df2

C:\Users\Rishi\AppData\Local\Temp\ipykernel_11516\108065370.py:15: FutureWarning: Not prepending group keys to the result index of transform-like apply. In the future, the group keys will be included in the index, regardless of whether the applied function returns a like-indexed object.
To preserve the previous behavior, use

	>>> .groupby(..., group_keys=False)

To adopt the future behavior and silence this warning, use

	>>> .groupby(..., group_keys=True)
  df2 = df2.groupby('giD').apply(obsmean).reset_index(drop = True)

     a    r  giD   Obs mean
0    2  -49    1 -49.000000
1    2  -52    1 -50.500000
2    2  -59    1 -53.333333
3    1  -56    1 -56.000000
4    1  -62    1 -59.000000
..  ..  ...  ...        ...
200  1  -69   33 -69.000000
201  1  -48   33 -58.500000
202  1  -75   33 -64.000000
203  2  -30   33 -30.000000
204  1  -35   33 -35.000000

[205 rows x 4 columns]

In [45]:
# df['gamelength'] == 5 # prints where its equal to 5 in that column
# df[df['gamelength'] == 5] #prints all the rows where the gamelength is 5
# df['gamelength'][df['gamelength'] == 5] = 'Short' #ugly way of saying all columns where its equal to 5 will be changed to short

# df.loc[df['gamelength']==5, 'gamelength'] = 'Short' #cleaner way of writing using .loc

In [3]:
#functions 

def cbandit_trial(old_df,new_df):
    def arrayconvstr(strarray):
        return eval(strarray)
    new_df['Chosen Bandit per Trial'] = old_df['a'].apply(arrayconvstr)
    new_df['Rewards'] = old_df['r'].apply(arrayconvstr)
    return new_df.explode(['Chosen Bandit per Trial', 'Rewards'])

def moreinfo_bandit(new_df):
    new_df.loc[new_df['Chosen Bandit per Trial'] == 2, 'More Info Bandit'] = 1
    new_df.loc[new_df['Chosen Bandit per Trial'] == 1, 'More Info Bandit'] = 2
                       
                       
def get_game(old_df, new_df):
    #trials = old_df['giD']
    new_df['Game ID'] = old_df['giD']

def get_horizon(old_df,new_df):
    #horizons = old_df.loc[old_df['gamelength'].isin([5,10]), 'gamelength']
    horizons = old_df['gamelength']
    #print(horizons)
    new_df['Horizon'] = horizons
    #print(new_df['Horizon'])
    
    #changing 5 and 10 to short and long horizons
    new_df.loc[new_df['Horizon'] == 5,'Horizon'] = 'Short'
    new_df.loc[new_df['Horizon'] == 10,'Horizon'] = 'Long'

def get_means(old_df,new_df):
    def arrayconv(strarray):
        strarray = strarray.replace(':',',')
        listu = ast.literal_eval(strarray)
        array = np.array(listu, dtype = int)
        return array
    new_df['Reward Means'] = old_df['mean'].apply(arrayconv)
    
def mean_diff(new_df):
    difference = lambda array : (array[0]-array[1])
    new_df['Real Mean difference - Bandits'] = new_df['Reward Means'].apply(difference)
    
def chosen_bandit(old_df,new_df):
    #convert the string arrays to 
    def arrayconv(strarray):
        listu = ast.literal_eval(strarray)
        array = np.array(listu, dtype = int)
        return array[4] # we need the fifth element of the array #first free choice
    new_df['Chosen Bandit FFT'] = old_df['a'].apply(arrayconv)
    new_df.loc[new_df['Chosen Bandit FFT'] == 2, 'Chosen Bandit FFT'] = 'R' #2 is the right bandit
    new_df.loc[new_df['Chosen Bandit FFT'] == 1, 'Chosen Bandit FFT'] = 'L' #1 is the left bandit

def get_higherbandit(new_df):
    new_df['Higher Mean Bandit'] = new_df['Reward Means'].apply(np.argmax) #returns the index of the higher value from our array
    new_df.loc[new_df['Higher Mean Bandit'] == 1, 'Higher Mean Bandit'] = 'R'# 1 = Right bandit
    new_df.loc[new_df['Higher Mean Bandit'] == 0, 'Higher Mean Bandit'] = 'L'# 0 = Left bandit
    
def get_context(new_df):    
    new_df['Context'] = new_df['Reward Means'].apply(np.sum)
    new_df['Context'] = np.where(new_df['Context'] >0, 'Win', 'Loss')
    
    
def get_infocond(old_df,new_df):
    new_df['Information Condition'] = old_df['nforced'].apply(lambda x: np.array(ast.literal_eval(x), dtype = int))
    def check_cond(array):
        value, counts = np.unique(array,return_counts=True)
        #print(array,value,counts,type(counts))
        if counts[0] > counts[1] or counts[1] > counts[0]:
            return 'Unequal'
        elif counts[0] == counts[1]:
            return 'Equal'
            
    new_df['Information Condition'] = new_df['Information Condition'].apply(check_cond)
    

def gettrial(new_df):
    new_df['Trial Number'] = new_df.groupby('Game ID').cumcount() + 1



    
dataframe = cbandit_trial(df,dataframe)
get_game(df,dataframe)
get_horizon(df,dataframe)
get_means(df,dataframe)
mean_diff(dataframe)
chosen_bandit(df,dataframe)
get_higherbandit(dataframe)
get_context(dataframe)
get_infocond(df,dataframe)
gettrial(dataframe)
moreinfo_bandit(dataframe)



#need columns for all the predictors for your statistics
#trial is one instance of you picking a bandit
#game iD is the number of rounds (80 games), trial number should increase within each game depending on the horizon
#make a row for each action, and basically all the information you have about that action (informativeness, observed mean, 
#chosen bandit etc)
#make a column for informativeness
#for observed mean diff you need column r and a 
#make a column for obs mean for unchosen option and chosen option

In [7]:
dataframe.loc[dataframe['Information Condition'] == 'Unequal', 'Game ID']

0      1
0      1
0      1
0      1
0      1
      ..
30    31
30    31
30    31
30    31
30    31
Name: Game ID, Length: 195, dtype: int64

In [9]:
dataframe

,pp-ID,Group,Game ID,Trial Number,Context,Horizon,Information Condition,Reward Means,Real Mean difference - Bandits,Higher Mean Bandit,Chosen Bandit per Trial,Rewards,More Info Bandit,Chosen Bandit FFT
0,NaN,NaN,1,1,Loss,Long,Unequal,"[-60, -48]",-12,R,2,-49,1,L
0,NaN,NaN,1,2,Loss,Long,Unequal,"[-60, -48]",-12,R,2,-52,1,L
0,NaN,NaN,1,3,Loss,Long,Unequal,"[-60, -48]",-12,R,2,-59,1,L
0,NaN,NaN,1,4,Loss,Long,Unequal,"[-60, -48]",-12,R,1,-56,2,L
0,NaN,NaN,1,5,Loss,Long,Unequal,"[-60, -48]",-12,R,1,-62,2,L
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32,NaN,NaN,33,1,Win,Short,Equal,"[80, 40]",40,L,1,-69,2,L
32,NaN,NaN,33,2,Win,Short,Equal,"[80, 40]",40,L,1,-48,2,L
32,NaN,NaN,33,3,Win,Short,Equal,"[80, 40]",40,L,1,-75,2,L
32,NaN,NaN,33,4,Win,Short,Equal,"[80, 40]",40,L,2,-30,1,L
32,NaN,NaN,33,5,Win,Short,Equal,"[80, 40]",40,L,1,-35,2,L